main {
    padding: 1rem;
}

.general {
    display: flex;
    gap: 2rem;
}

.photos {
    width: 400px;
}

.photos .image {
    width: 100%;
    height: 100%;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

.photos .preview .image:hover, .photos  .preview .image.active {
    box-shadow: 0 0 5px 1px #77b900;
}

.photos img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.photos .current {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
}

.photos .preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px;
    grid-gap: 5px;
}

.info .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .price p {
    color: #b54848;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.info ul li {
    margin-bottom: 1rem;
}

.info ul li::before {
    content: "✔️";
    display: inline-block;
    margin-right: .5rem;
}

.detail {
    margin-top: 2rem;
}

.detail .tab_names {
    display: flex;
    gap: 2rem;
}

.detail .tab_name {
    padding-bottom: .5rem;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.detail .tab_name.active {
    border-bottom-color: #77b900;
}

.detail .tabs .tab {
    display: none;
}

.detail .tabs .tab.active {
    display: block;
}

.detail .table {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.detail .table p {
    padding: .25rem;
    border-bottom: 1px solid #ececec;
    margin: 0 0 1rem 0;
}

.reviews form label {
    display: block;
    margin: 1rem 0;
}

.reviews form select {
    padding: .5rem;
    font-size: 1rem;
}

.reviews form textarea {
    margin-bottom: 2rem;
}

.reviews .review {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.reviews .review:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.reviews .review .score {
    background: #77b900;
    width: 4rem;
    height: 4rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .review .name {
    font-weight: bold;
}

.reviews .review .date {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

@media screen and (max-width: 600px) {
    .general {
        display: block;
    }

    .photos {
        width: 100%;
    }

    .detail .tabs .tab iframe {
        max-width: 100%;
    }

    .reviews .review .score {
        flex-shrink: 0;
    }
}